# Vivado temporary files
*.jou
*.log
*.pb
*.str
*.backup
.Xil/
hd_visual/

# Project-specific junk
/impl/*.cache/
/impl/*.hw/
/impl/*.ip_user_files/
/impl/*.runs/
/impl/*.sim/
/impl/*.gen/

# Ignore Vivado utility and checkpoint folders
/impl/Gateway-SOC.srcs/utils_1/

# iVerilog compiled files
*.vvp
*.vcd

# Desktop/OS junk
Thumbs.db
.DS_Store